.product-add-form {
    padding-left: 20%;
    padding-right: 20%;
    margin-bottom: 60px;
 }

h2 {
    margin-top: 15px;
}

.required label {
    font-weight: bold;
}
.required label:before {
    color: red;
    content: '* ';
    display: inline;
}
