.product-add-form {
    padding-left: 35%;
    padding-right: 35%;
    margin-bottom: 60px;
 }

h2 {
    margin-top: 15px;
}

.required label {
    font-weight: bold;
}
.required label:before {
    color: red;
    content: '* ';
    display: inline;
}

.deleteButton {
    background-color: red;
    margin: 4px 2px;
}

.deleteButton:hover{
    background-color: darkred;
}

.cancelButton {
    background-color: grey;
    margin: 4px 2px;
}

.cancelButton:hover{
    background-color: darkgrey;
}
