.ordercontainer {
    margin: 15px 20% 60px;
}

.ordertitle {
    text-align: center;
}

.singleordercontainer {
    margin-bottom: 5px;
    border: 3px darkgreen solid;
}

.ordertext {
    margin: 10px;
}
