.ordercontainer {
    margin: 15px 20% 60px;
}

.ordertitle {
    text-align: center;
}

.singleordercontainer {
    margin-bottom: 5px;
    border: 3px black solid;
}

.ordertext {
    margin: 10px;
}

.acceptOrderButton {
    background-color: #8ed65c;
    border-color: #51b72a;
}

.declineOrderButton {
    background-color: #ed4543;
    border-color: #d6412a;
}

/*  ----    New Order  ----  */

.orderTitleTriggerNew {
    background: #84aff4;
    width: 100%;
    font-weight: bold;
}

.orderTitleTriggerNew:hover {
    background: #aad7ff;
}

.orderTitleTriggerNew:after {
    content: '\002B';
    color: white;
    font-weight: bold;
    float: right;
    margin-left: 5px;
}

.orderOpenedTriggerNew {
    content: '\002B';
     background: #6481ef;
     width: 100%;
     font-weight: bold;
 }

.orderOpenedTriggerNew:after {
    content: "\2212";
    color: white;
    font-weight: bold;
    float: right;
    margin-left: 5px;
}

/*  ----    Accepted Order  ----  */

.orderTitleTriggerAccepted {
    background: #8ed65c;
    width: 100%;
    font-weight: bold;
}

.orderTitleTriggerAccepted:hover {
    background: #bcf47f;
}

.orderTitleTriggerAccepted:after {
    content: '\002B';
    color: white;
    font-weight: bold;
    float: right;
    margin-left: 5px;
    font-weight: bold;
}

.orderOpenedTriggerAccepted {
    content: '\002B';
     background: #51b72a;
     width: 100%;
     font-weight: bold;
 }

.orderOpenedTriggerAccepted:after {
    content: "\2212";
    color: white;
    font-weight: bold;
    float: right;
    margin-left: 5px;
}

/*  ----    Declined Order  ----  */

.orderTitleTriggerDeclined {
    background: #ed4543;
    width: 100%;
    font-weight: bold;
}

.orderTitleTriggerDeclined:hover {
    background: #ff6877;
}

.orderTitleTriggerDeclined:after {
    content: '\002B';
    color: white;
    font-weight: bold;
    float: right;
    margin-left: 5px;
}

.orderOpenedTriggerDeclined {
    content: '\002B';
     background: #d6412a;
     width: 100%;
     font-weight: bold;
 }

.orderOpenedTriggerDeclined:after {
    content: "\2212";
    color: white;
    font-weight: bold;
    float: right;
    margin-left: 5px;
}

/*  ----    Waiting  ----  */

.orderTitleTriggerWaiting {
    background: #a8a8a8;
    width: 100%;
    font-weight: bold;
}

.orderTitleTriggerWaiting:hover {
    background: #cccccc;
}

.orderTitleTriggerWaiting:after {
    content: '\002B';
    color: white;
    font-weight: bold;
    float: right;
    margin-left: 5px;
}

.orderOpenedTriggerWaiting {
    content: '\002B';
    font-weight: bold;
     background: #848484;
     width: 100%;
 }

.orderOpenedTriggerWaiting:after {
    content: "\2212";
    color: white;
    font-weight: bold;
    float: right;
    margin-left: 5px;
}