.ordercontainer {
    margin-left: 20%;
    margin-right: 20%;
    margin-bottom: 60px;
}

.ordertitle {
    text-align: center;
}

.singleordercontainer {
    margin-bottom: 5px;
    border: 3px darkgreen solid;
}
