.product {
    font-weight: bold;
}

.tags {
    color: #7f7b7e;
}

.productbox {
    margin-left: 20%;
    margin-right: 20%;
    margin-top: 10px;
    border: 5px solid green;
    overflow: hidden;
    padding: 0px 5px 0px 5px;
}

.floatTis {
    float: left;
    padding-right: 10px;
    height: 50px;
}

.productbox input {
    height: 26px;
}

.kgBox {
    width: 50px;
    margin-left: 20px;
}

.kgText {
    padding-top: 3px;
}

.total {
    font-size: 11px;
    float: right;
}

.price {
    float: right;
}

.productExtraInfo {
    margin-right: 200px;
    font-size: 12px;
}

.cart {
    float: right;
}