.profilecontainer{
    margin: 10px 0px 0px 10%;
}

.userInfo {
    width: 400px;
    border: 5px solid green;
    padding: 0px 10px 0px 10px;
    background-color: #EFFBEF;
}

.profilecontainer h5 {
    border-bottom: 3px double;
    font-size: 40px;
}

.userproducts h5 {
    border-bottom: 3px double;
    font-size: 25px;
}

.userproducts {
    border: 5px solid green;
    padding: 0px 10px 0px 10px;
    margin-top: 30px;
    width: 400px;
    background-color: #EFFBEF;
}

.imagecontainer img {
    width: 200px;
    border: 5px solid green;
    float: right;
    margin-right: 10%;
    padding: 5px;
}

@media only screen and (max-width: 800px) {
    .imagecontainer img {
        margin-right: 5%;
    }

    .profilecontainer {
        margin-left: 5%;
    }
}

@media only screen and (max-width: 700px) {
    .imagecontainer img {
        margin-right: 40px;
    }

    .profilecontainer {
        margin-left: 10px;
    }
}
