<!DOCTYPE html>
<html lang="en">
  <head>
      <meta charset="UTF-8">
      <title>Lähiruoka</title>
      <link rel="stylesheet" type="text/css" href="css/index2css.css" />
      <link rel="stylesheet" type="text/css" href="css/index1css.css" />
      <style media="screen"></style>
      <script src="https://unpkg.com/react@15/dist/react.min.js"></script>
      <script src="https://unpkg.com/react-dom@15/dist/react-dom.min.js"></script>
      <script src="https://unpkg.com/babel-standalone@6/babel.min.js"></script>
  </head>
  <body>
      <nav>
          <a href="#">SIVUN LOGO</a>
          <a href="#">Hae tästä</a>
          <a href="index2.html">Hei, Käyttäjä!</a>
          <a href="#">Kirjaudu ulos</a>
      </nav>

      <div id="root">
          <p class="date">04.03.2019</p>
        <h1 class="productTitle">Porkkana</h1>
        <p class="productInfo">Vihreä porkkana</p>
        <p class="productPrice">satatonnia €/kg</p>
        <p class="productAmount">Jotain tonnia</p>
        <p class="productPackage">Viiden kilogramman pusseissa</p>

        <p class="productTags">#porkkana
          <button id="buttonBuy" class="buttonBuy">Osta</button>
        </p>

        <p id="chooseAmount"></p>

      </div>
      <button id="butt">Next</button>
      <script>
        function changePage() {
          window.location.href = 'index2.html';
        }

        function chooseAmount() {
          document.querySelector('#buttonBuy').remove();
          let choose = document.querySelector('#chooseAmount');
          let input = document.createElement('input');
          let inputButton = document.createElement('input');
          let amount = document.createTextNode(' kg   ');

          input.setAttribute('type', 'text');
          input.setAttribute('name', 'amount');

          inputButton.setAttribute('type', 'submit');
          inputButton.setAttribute('value', 'siirrä ostoskoriin');
          inputButton.setAttribute('style', 'float: right;')

          choose.appendChild(input);
          choose.appendChild(amount);
          choose.appendChild(inputButton);
        }

        function ready() {
          document.querySelector('#butt').addEventListener('click', changePage);
          document.querySelector('#buttonBuy').addEventListener('click', chooseAmount);
        }

        ready();
      </script>
  </body>
</html>
